# Run on container start
@start echo "hello"

# Run every minute
#*/1 * * * * echo "hello"

# Run every 2 seconds
#*/2 * * * * * * ls 2>/dev/null

# Run once every hour
#@hourly echo "$SOME_HOURLY_JOB"
